extends layout

block content
    input(type="range", min="0", max="1", step=".00001")#slider1
    input(type="range", min="0", max="1", step=".00001")#slider2

    .control-box#box1
    .control-box#box2
    .control-box#box3
    .control-box#box4
    .control-box#box5
    .control-box#box6
    .control-box#box7
    .control-box#box8
    .control-box#box9